@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  color: white;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

button:hover {
  cursor: pointer;
  background: #fff5e1 !important;
  color: #ff6b00 !important;
  border: 0.1px solid #ff6b00 !important;
  transition: 0.1s all;
}

button:active {
  background-color: #e05304 !important;
  border: none;
  color: white !important;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3e3c3c;
  padding: 20px 9%;
}

nav .nav-links {
  align-items: center;
  display: none;
}

.name a {
  font-size: 30px;
  font-weight: bolder;
}

nav .nav-links a {
  margin-right: 26px;
}

nav .breadcrumb-icon {
  display: block;
}

.aboutme-heading p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin-bottom: 24px;
  margin-top: 24px;
}

.contact-heading p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 120px;
  padding-bottom: 73px;
  margin-bottom: 0;
}

.contact-heading p:hover {
  margin-left: 3px;
}

.contact-form input {
  border: 0;
  width: 100%;
  border-bottom: 1px solid #dbd8d7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 24px;
  padding: 14px;
}

.contact-form textarea {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 100%;
  height: 114px;
  background-color: #fbf8f7;
  border: 0;
  padding: 12px;
}

.contact-form {
  padding-left: 24px;
  padding-right: 24px;
}

.contact-form button {
  background-color: #ff6b00;
  margin-top: 24px;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  border-style: none;
  font-family: 'inter', serif;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
}

.contact-form ul {
  padding: 0;
  overflow-x: hidden;
}

.contact-form li.button-wraper {
  display: flex;
  justify-content: center;
}

footer {
  margin-top: 136px;
}

footer ul.social-links-footer {
  display: flex;
  justify-content: center;
  padding: 0;
}

footer ul.social-links-footer li {
  display: list-item;
  margin-right: 21px;
}

footer ul.social-links-footer li.last-icon {
  margin-right: 0;
}

footer svg {
  color: #505f79 !important;
}

footer .bottom-line {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 8%;
  background: #0d151e;
  height: 5px;
  border-radius: 10px;
  margin-bottom: 8px;
}

.work-heading {
  display: flex;
  flex-direction: column;
}

.work-heading h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  text-align: center;
}

.headline-section {
  padding: 1px 30px;
  display: flex;
  min-height: 100vh;
  background-color: #1c1a19;
  background-image: url("../images/header-background.png");
  background-repeat: no-repeat;
  background-size: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  overflow-x: hidden !important;
  background-position: bottom right;
}

.headline-section div.headline {
  width: fit-content;
}

.headline-section ul.social-links {
  padding-left: 1px;
  margin-right: 20px;
  order: 1;
}

.headline-section ul.social-links ul {
  list-style-type: none;
}

.headline-section ul.social-links li {
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
}

.headline-section .headline h1 {
  margin: 1px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.aboutme-heading h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-bottom: 0;
}

.headline-section .headline h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.headline-section .headline p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.work-section {
  color: black;
  padding: 24px;
}

.main-project {
  display: flex;
  flex-direction: column;
}

.main-project-image img {
  width: 100%;
}

.work-heading hr {
  margin-bottom: 80px;
}

.recent-work-line {
  width: 100%;
}

.main-project-details h3.title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  margin-bottom: 1px;
}

.main-project-details p.description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.main-project-details ul.tech-used {
  list-style-type: none;
  display: flex;
  padding-left: 1px;
}

.main-project-details ul.tech-used li {
  align-items: center;
}

.main-project-details ul.tech-used li a {
  color: black;
  display: inline-block;
  padding: 10px 12px;
  border: 1px solid #8993a4;
  margin-right: 12px;
}

.main-project-details button {
  color: white;
  border: none;
  background: #ff6b00;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-card-container {
  display: grid;
  grid-template-columns: auto;
}

.sub-projects h3.title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  padding-top: 84px;
}

.sub-projects {
  color: white;
  display: flex;
  flex-direction: column;
}

.sub-projects p.description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.sub-projects ul.tech-used {
  margin-bottom: 0;
  list-style-type: none;
  display: flex;
  padding-left: 1px;
}

.sub-projects ul.tech-used li {
  align-items: center;
  margin-bottom: 22px;
}

.sub-projects ul.tech-used li a {
  display: inline-block;
  padding: 10px 12px;
  margin-right: 12px;
  background: rgba(255, 255, 255, 0.24);
}

.sub-projects button.view-project-btn {
  color: white;
  border: none;
  width: 100%;
  background: #ff6b00;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 auto;
}

.sub-projects .sub-project-container {
  background: url("../images/printing1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 16px;
  padding-right: 16px;
}

.sub-projects .btn-container {
  text-align: center;
  color: white;
}

.aboutme-section {
  display: flex;
  flex-direction: column;
  padding: 120px 24px;
  padding-right: 0;
  background-color: #1c1a19;
}

.aboutme-section hr {
  margin-bottom: 121px;
}

.aboutme-section .skills {
  text-align: center;
}

.aboutme-section .skills-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutme-section .skills-title h3 {
  margin-left: 12px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

.aboutme-section .skills ul li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  color: #fff;
  margin-bottom: 17px;
}

.aboutme-heading {
  padding-right: 24px;
  padding-bottom: 220px;
  background-image: url("../images/aboutme-bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.aboutme-heading button {
  color: white;
  border: none;
  background: #ff6b00;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}

@media only screen and (min-width: 768px) {
  .contact-main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .contact-main p {
    text-align: left;
  }

  #contact {
    padding-left: 0;
    padding-right: 0;
  }

  .contact-form li.button-wraper {
    margin-top: 24px;
    justify-content: left;
  }

  .contact-form button {
    margin: 0;
  }

  .line-aboutme {
    padding-left: 141px;
    padding-right: 141px;
    margin-top: 100px;
  }

  .contact-heading p {
    padding-top: 0;
  }

  .work-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .work-heading hr {
    border: none;
    height: 0.5px;
    background: #212121;
    margin: 0 24px 0 24px;
  }

  .work-heading h2 {
    text-align: left;
    width: 400px;
  }

  hr.recent-work-line {
    width: 70%;
  }

  .work-section {
    padding-left: 141px;
    padding-right: 141px;
  }

  .work-section article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .work-section article .main-project {
    grid-area: 1/1/1/3;
    flex-direction: row;
    align-items: center;
  }

  .work-section article .main-project div {
    width: 50%;
  }

  .work-section article .main-project div.main-project-details {
    padding-left: 24px;
    padding-right: 24px;
  }

  .work-section article .sub-projects {
    width: 100%;
  }

  .work-section article .sub-projects .btn-container {
    display: none;
  }

  .work-section article .sub-projects .sub-project-container {
    height: 100%;
    padding: 50px 16px;
  }

  .work-section article .first {
    border: 2px solid black;
  }

  .work-section article .first .sub-project-container h3.title {
    display: none;
  }

  .work-section article .first .btn-container {
    display: block;
  }

  .headline-section .headline p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .work-section article .first .sub-project-container p {
    display: none;
  }

  .work-section article .first .sub-project-container div {
    display: none;
  }

  .work-section article div.first div.sub-project-container {
    background: url("../images/first-project.png")  no-repeat;
  }

  .aboutme-section div.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .aboutme-section div.aboutme-heading-content {
    width: 90%;
  }

  .headline-section {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-position: top right;
  }

  .aboutme-section .skills ul {
  padding: 0;
  list-style-type: none;
}

  .headline-section ul.social-links {
    order: 0;
  }

  .headline-section ul.social-links li {
    display: block !important;
    margin-top: 10px;
  }

  .headline-section .headline {
    margin-left: 5%;
    width: 566px;
  }

  .headline-section .headline h1 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
  }

  .headline-section .headline h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  nav .nav-links {
    display: flex;
  }

  nav .nav-links span.icon {
    display: flex;
  }

  nav .breadcrumb-icon {
    display: none;
  }
}

@media only screen and (min-width: 1100px) {
  .contact-heading p {
    font-size: 40px;
  }

  .line-aboutme {
    padding-left: 141px;
    padding-right: 141px;
    margin-top: 100px;
  }

  #contact {
    padding-left: 141px;
    padding-right: 141px;
  }

  .work-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .work-heading hr {
    border: none;
    height: 0.5px;
    background: #212121;
    margin: 0 24px 0 24px;
  }

  .work-heading h2 {
    text-align: left;
    width: 25%;
  }

  .work-section {
    padding-left: 141px;
    padding-right: 141px;
  }

  .work-section article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .work-section article div.main-project {
    grid-area: 1/1/1/4;
    flex-direction: row;
  }

  .work-section article div.main-project div {
    width: 50%;
  }

  .work-section article div.main-project div.main-project-details {
    padding-left: 24px;
    padding-right: 24px;
  }

  .work-section article div.sub-projects {
    width: 90%;
  }

  .work-section article div.sub-projects div.btn-container {
    display: none;
  }

  .work-section article div.sub-projects div.sub-project-container {
    height: 100%;
    padding: 50px 16px;
  }

  .work-section article div.first {
    border: 2px solid black;
  }

  .work-section article div.first div.sub-project-container h3.title {
    display: none;
  }

  .work-section article div.first div.btn-container {
    display: block;
  }

  .headline-section .headline p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    width: 50%;
  }

  .work-section article div.first .sub-project-container p {
    display: none;
  }

  .work-section article div.first .sub-project-container div {
    display: none;
  }

  .work-section article div.first .sub-project-container {
    background: url("../images/first-project.png")  no-repeat;
  }

  .aboutme-heading {
    background: url("../images/illustration-about\ me.svg") no-repeat;
    background-position: bottom right;
    padding-left: 141px;
    padding-right: 141px;
    background-size: 44%;
  }

  .aboutme-section .skills-container {
    padding-left: 141px;
    padding-right: 141px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .aboutme-section div.aboutme-heading-content {
    width: 50%;
  }

  .headline-section {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-position: top right;
  }

  .headline-section ul.social-links {
    order: 0;
  }

  .headline-section ul.social-links li {
    display: block !important;
    margin-top: 10px;
  }

  .headline-section .headline {
    margin-left: 5%;
    width: 566px;
  }

  .headline-section .headline h1 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
  }

  .headline-section .headline h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  nav .nav-links {
    display: flex;
  }

  nav .nav-links span.icon {
    display: flex;
  }

  nav .breadcrumb-icon {
    display: none;
  }
}
